{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}

<h3>Bem Vindos ao sistema</h3>

{% if not request.user.is_authenticated %}
    <p>
        Para acessar o sistema, faça o login.
    </p>
    <p>
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    </p>

{% else %}

    <p>
        Olá, {{ request.user }}!
    </p>

    <h4>Minhas estatísticas</h4>
    <ul>
        <li>Total de pessoas: {{ qtde_pessoas }}</li>
        <li>Minhas pessoas: {{ m_pessoas }}</li>
    </ul>

    <hr>

    <ul>
        {% for c in cidades %}
            <li>{{ c.nome }}/{{c.estado }}</li>
        {% empty %}
            <li>Nenhum registro de cidade</li>
        {% endfor %}

        {{ queryset }}
    </ul>

    <h5>Primeira pessoa cadatrada: {{ pessoa.nome_completo }}</h5>

{% endif %}

{% endblock %}